@model IEnumerable<TrueCrimeRepo.Models.CrimeListItem>

@{
    ViewBag.Title = "Index";
}
<img src="~/Images/Edgy Sportswear Etsy Banner.png" style="width: 100%">

<h2>Crimes</h2>
<p>Find all of our true crimes listed below. </p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{<div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                @*<th>
            @Html.DisplayNameFor(model => model.CrimeID)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @*<th>
            @Html.DisplayNameFor(model => model.Year)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Perpetrator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSolved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCrimeSolved)
                </th>
                <th class="col-md-3">
                    To view details, edit, or delete, please click below.
                </th>
            </tr>




            @foreach (var item in Model.OrderBy(Model=>Model.Title))
            {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.CrimeID)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
                @*, "Index", new { sortOrder = ViewBag.TitleSortParm }*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Perpetrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSolved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCrimeSolved)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CrimeID }, new { @class = "btn btn-warning" })


                @Html.ActionLink("Details", "Details", new { id = item.CrimeID }, new { @class = "btn btn-primary" })


                @Html.ActionLink("Delete", "Delete", new { id = item.CrimeID }, new { @class = "btn btn-danger" })

            </td>
        </tr>
            }
        </table>

    </div>
</div>

<style type="text/css">
    td {
        width: 100px;
    }

    th {
        width: 100px;
    }
</style>

