@model IEnumerable<TrueCrimeRepo.Models.CrimeListItem>

@{
    ViewBag.Title = "Index";
}
<img src="~/Images/Edgy Sportswear Etsy Banner.png" style="width: 100%">
<br/>
@*<h2>Crimes</h2>*@
<h3>Find all of our true crimes listed below. </h3>
<b/>
<h4>To view the podcasts, tv shows, and books for the crime, select "Details" box below.</h4>
<br/>
<p style="font-size: 30px">
    <a href='@Url.Action("Create")' class="btn btn-success">
        <i class="fas fa-plus"></i> &nbsp; ADD a new true crime  
    </a>
    @*@Html.ActionLink("Add a new true crime", "Create")*@
</p>
@if (TempData.ContainsKey("SaveResult"))
{<div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr style="background-color: darkslategrey">
                @*<th>
                        @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.CrimeSortParm})
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="col-md-4">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Year)
                     </th>*@
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.IsCrimeSolved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Perpetrator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th class="col-md-3">
                    To view details, edit, or delete, please click below.
                </th>
            </tr>


            @foreach (var item in Model.OrderBy(Model => Model.Title))
            {
                <tr style="background-color: dimgrey">
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCrimeSolved)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Year)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Perpetrator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.CrimeID }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.CrimeID }, new { @class = "btn btn-default" })

                        @Html.ActionLink("Delete", "Delete", new { id = item.CrimeID }, new { @class = "btn btn-danger" })

                    </td>
                </tr>
            }
        </table>

    </div>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
            <li class="active">
                <span>1<span class="sr-only">(current)</span></span>
            </li>
            ...
        </ul>
    </nav>
    @*<ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>*@
</div>

<style type="text/css">
    td {
        width: 100px;
        font: white;
    }

    th {
        width: 100px;
    }
    body{
        color: white;
        font-size: medium;
    }

</style>

