@model IEnumerable<TrueCrimeRepo.Models.TVShowListItem>

@{
    ViewBag.Title = "Index";
}

<img src="~/Images/TV.png" style="width: 100%" />
<h2>True Crime TV Shows/Documentaries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table table-hover">
    <tr style="background-color: darkgrey">
        @*<th>
                @Html.DisplayNameFor(model => model.TVShowID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Crime.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channel_OnlineStream)
        </th>
        <th class="col-md-3">
            To view details, edit, or delete, please click below.
        </th>
    </tr>

    @foreach (var item in Model.OrderBy(Model => Model.Crime.Title))
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.TVShowID)
                </td>*@
            <td>
                <a href="@Url.Action("Details", "Crime", new { id = item.CrimeID })">@Html.DisplayFor(modelItem => item.Crime.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel_OnlineStream)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TVShowID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.TVShowID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.TVShowID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
        <style type="text/css">
            td {
                width: 100px;
            }

            th {
                width: 100px;
            }
        </style>
