@model IEnumerable<TrueCrimeRepo.Models.PodcastListItem>

@{
    ViewBag.Title = "Index";
}
<img src="~/Images/Podcasts.png" style="width: 100%" />
<h2>True Crime Podcasts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.PodcastID)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.CrimeID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Crime.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </th>*@

        <th>
            To view details, edit, or delete, please click below.
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PodcastID)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.CrimeID)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Crime.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteUrl)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedUtc)
                </td>*@


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PodcastID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PodcastID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PodcastID })
            </td>
        </tr>
        <style type="text/css">
            td {
                width: 100px;
            }

            th {
                width: 100px;
            }
        </style>

    }

</table>
